/*
*Setup basic site styling
*/
.hidden {
	display: none;
}

/* Fix datepicker for modals */
.datepicker {
	z-index: 1151 !important;
}

/* Set max widths for inputs inside of forms */
.form-group {
	max-width: 250px;
}

.button-medium {
	min-width: 78px;
}

/* notification navbar */
.notification-navbar {
	margin-top: 60px;
}

/*
* Making changes to bootstrap - create custom theme later
*/
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #65c6c3;
	border-color: #65c6c3;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus,
	.pagination>li>span:focus {
	color: #65c6c3;
	background-color: #eee;
	border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #65c6c3;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: #65c6c3;
}

.navbar-brand {
	color: #65c6c3 !important;
}

.btn-primary:hover {
	color: #fff !important;
	background-color: #f7504f !important;
	border-color: #f7504f !important;
}

.btn-primary {
	background-color: #fff !important;
	color: #f7504f !important;
	border-color: #f7504f !important;
}

.alert-info {
	color: #777;
	background-color: #EBFFFE;
	border-color: #65c6c3;
}

.alert-success {
	color: #65c6c3;
	background-color: #F8F8F8;
	border-color: #65c6c3;
}

.alert {
	background-color: #F8F8F8;
}

a.btn:hover {
	color: #119995;
}

a {
	color: #65c6c3;
}

a:hover {
	color: #119995;
}