<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:oxm="http://www.springframework.org/schema/oxm" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/oxm
         http://www.springframework.org/schema/oxm/spring-oxm.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<sec:http auto-config="false" use-expressions="true">
		<sec:intercept-url pattern="/family/all**" access="hasRole('leader')" />
		<sec:intercept-url pattern="/family/single**" access="hasRole('hometeacher')" />
		<sec:intercept-url pattern="/companion/all**" access="hasRole('leader')" />
		<sec:intercept-url pattern="/companion/single**" access="hasRole('hometeacher')" />
		<sec:intercept-url pattern="/user/all**" access="hasRole('leader')" />
		<sec:intercept-url pattern="/user/single**" access="hasRole('hometeacher')" />

		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/resources/**" access="permitAll" />
		<sec:intercept-url pattern="/**" access="hasRole('hometeacher')" />

		<sec:form-login login-page="/login" login-processing-url="/login-execute" authentication-failure-url="/login?error=true" />
		<sec:logout logout-url="/logout" logout-success-url="/login?logout=true" />
		<sec:access-denied-handler error-page="/denied" />
		<sec:expression-handler ref="defaultWebSecurityExpressionHandler" />
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider user-service-ref="hometeachingUserDetailsService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>

	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider"
		p:passwordEncoder-ref="passwordEncoder" p:userDetailsService-ref="hometeachingUserDetailsService" />

	<bean id="hometeachingUserDetailsService" class="com.personalapp.hometeaching.security.HometeachingUserDetailsService" />

	<bean id="defaultWebSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
		<property name="roleHierarchy" ref="roleHierarchy" />
	</bean>

	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.access.vote.RoleHierarchyVoter">
					<constructor-arg ref="roleHierarchy" />
				</bean>
				<bean class="org.springframework.security.web.access.expression.WebExpressionVoter">
					<property name="expressionHandler" ref="defaultWebSecurityExpressionHandler" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<property name="hierarchy">
			<value>
				admin > leader 
				leader > membership
				leader > hometeacher
			</value>
		</property>
	</bean>
</beans>