<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<body
	style="font-family: ' HelveticaNeue ', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.428571429; color: #333;">
	<table
		style="border: 1px solid #ddd; background-color: transparent; border-collapse: collapse; border-spacing: 0;">
		<thead
			style="display: table-header-group; vertical-align: middle; border-color: inherit;">
			<tr
				style="display: table-row; vertical-align: inherit; border-color: inherit;">
				<th
					style="vertical-align: bottom; padding: 8px; line-height: 1.428571429; text-align: left; border: 1px solid #ddd; border-bottom: 2px solid #ddd;">Family</th>
				<th
					style="vertical-align: bottom; padding: 8px; line-height: 1.428571429; text-align: left; border: 1px solid #ddd; border-bottom: 2px solid #ddd;">Status</th>
				<th
					style="vertical-align: bottom; padding: 8px; line-height: 1.428571429; text-align: left; border: 1px solid #ddd; border-bottom: 2px solid #ddd;">Children</th>
				<th
					style="vertical-align: bottom; padding: 8px; line-height: 1.428571429; text-align: left; border: 1px solid #ddd; border-bottom: 2px solid #ddd;">Address</th>
				<th
					style="vertical-align: bottom; padding: 8px; line-height: 1.428571429; text-align: left; border: 1px solid #ddd; border-bottom: 2px solid #ddd;">Phone
					Numbers</th>
			</tr>
		</thead>
		<tbody
			style="display: table-row-group; vertical-align: middle; border-color: inherit;">
			{{#assignments}}
			<tr
				style="display: table-row; vertical-align: inherit; border-color: inherit;">
				<td
					style="border: 1px solid #ddd; padding: 8px; vertical-align: top;">{{family.familyName}},
					{{#family.headOfHousehold}}{{firstName}}{{/family.headOfHousehold}}</td>
				<td
					style="border: 1px solid #ddd; padding: 8px; vertical-align: top;">Active</td>
				<td
					style="border: 1px solid #ddd; padding: 8px; vertical-align: top;">guest</td>
				<td
					style="border: 1px solid #ddd; padding: 8px; vertical-align: top;"><a
					href="http://maps.google.com/maps?daddr={{address}}"
					target="_blank">{{address}}</a></td>
				<td
					style="border: 1px solid #ddd; padding: 8px; vertical-align: top;"></td>
			</tr>
			{{/assignments}}
		</tbody>
	</table>
</body>
</html>