<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<body style="font-family: ' HelveticaNeue ', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.428571429; color: #333;">
	<p>
		{{user.person.firstName}}, <br /> <br /> <a href="http://hometeaching.elasticbeanstalk.com/recover/reset/{{token}}">Use this link</a> to reset your password for the Dallas 4th ward {{#if visitingTeaching}} visiting {{else}} home {{/if}} teaching website. This link will only be
		active for 24 hours, after which you will need to submit a new password reset request.
	</p>
	<p>
		{{fromName}}<br /> <a href="tel:{{fromNumber}}">{{fromNumber}}</a>
	</p>
</body>
</html>