<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<body style="font-family: ' HelveticaNeue ', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.428571429; color: #333;">
	{{#with user}}
	<p>
		{{person.firstName}}, <br /> <br /> We've been working on a website where home and visiting teachers can go to see who their assigned families are, get basic contact information for them, and record visits. If
		you are interested the site can be found at
		<a href="http://hometeaching.elasticbeanstalk.com">hometeaching.elasticbeanstalk.com</a>.
		<br /> <br />Your initial username is {{user.username}} and your initial password is your first name and your last name, one word lowercase (you can change both of these after logging in for the
		first time).<br />
		<br /> The website should work equally well on a computer, tablet, or phone. If there is a better email address to reach you at please reply to this email and let me know. Feel free to contact me
		by phone or email if you have any questions or concerns.
	</p>
	{{/with}}
	<p>
		{{fromName}}<br />
		<a href="tel:{{fromNumber}}">{{fromNumber}}</a>
	</p>
</body>
</html>